name: Lint & Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.9", "3.8"]
        py-algorand-sdk-version: ["1.1.0", "1.1.1", "1.2.0", "1.2.1", "1.3.0", "1.4.0", "1.4.1", "1.5.0", "1.6.0", "1.7.0", "1.8.0", 
                                  "1.9.0", "1.10.0", "1.11.0", "1.12.0", "1.13.0", 1.13.1", "1.14.0", "1.15.0", "1.16.0", "1.16.1", 
                                  "1.17.0", "1.18.0", "1.19.0", "1.20.0", "1.20.1", "1.20.2"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black py-algorand-sdk==${{ matrix.py-algorand-sdk-version }}

      - name: Run flake8
        run: flake8 ${{ github.workspace }} --ignore=E501,F403,F405,E126,E121,W503,E203

      - name: Run Black
        run: black ${{ github.workspace }} --check

      - name: Run Unit tests
        run: python -m unittest
